.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.classpath
.factorypath
.project
.settings
.springBeans
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
/dist/
.vscode/
/**/.dir-locals.el
/**/.nrepl-port
/dev.gradle.kts
/reconciliation/src/dev
/.clj-kondo
